
@model INMETRO.CIPP.WEB.Models.InspecoesGravadasModel

<form name="contact-form" action="@Url.Action("ConsultaInspecao", "Inspecao")" class="form form-inline" id="download" method="post" novalidate="novalidate">


    <table id="idtable" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="text-align: center">
                    @Html.DisplayName("CÓDIGO OIA-PP")
                </th>
                <th style="text-align: center">
                    @Html.DisplayName("CIPP")
                </th>
                <th style="text-align: center">
                    @Html.DisplayName("PLACA")
                </th>
                <th style="text-align: center">
                    @Html.DisplayName("EQUIPAMENTO")
                </th>
                <th style="text-align: center">
                    @Html.DisplayName("DATA INSPEÇÃO")
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Inspecoes != null)
            {
                foreach (var item in Model.Inspecoes)
                {
                    
                    <tr>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.CodigoOia)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.CodigoCipp)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Placa)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Equipamento)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.DataInspecao)
                        </td>
                       
                    </tr>
                }
            }
        </tbody>
    </table>

    <br />
    
    @if (Model.Pager.TotalPages > 1)
    {
        <ul id="idPagination" class="pagination">
            @for (int i = 1; i <= Model.Pager.TotalPages; i++)
            {
                if (i != Model.Pager.CurrentPage)
                {
                    <li><a href="javascript:PagerClick(@i);">@i</a></li>
                }
                else
                {
                    <li class="active"><span>@i</span></li>
                }
            }
        </ul>

        <input type="hidden" id="hfCurrentPageIndex" name="Page"/>
        @Html.HiddenFor(s => s.Page, new {id = "hfCurrentPageIndex"})
    }
</form>
<script type="text/javascript">

    function PagerClick(index) {

        document.getElementById('hfCurrentPageIndex').value = index;
        document.forms[0].submit();
       

    }

</script>
<style type="text/css">
    body
    {
        font-family: Arial;
        font-size: 10pt;
    }
 
    table
    {
        border: 1px solid #ccc;
        border-collapse: collapse;
        background-color: #fff;
    }
 
    table th
    {
        background-color: #B8DBFD;
        color: #333;
        font-weight: bold;
    }
 
    table th, table td
    {
        padding: 5px;
        border: 1px solid #ccc;
    }
 
    table, table table td
    {
        border: 0px solid# ccc;
    }
</style>


  









