
@model INMETRO.CIPP.WEB.Models.InspecoesGravadasModel

@using (Html.BeginForm("ConsultaInspecao", "Inspecao", FormMethod.Post))
{


    <table id="idtable" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th style="text-align: center">
                @Html.DisplayName("CÓDIGO OIA-PP")
            </th>
            <th style="text-align: center">
                @Html.DisplayName("CIPP")
            </th>
            <th style="text-align: center">
                @Html.DisplayName("PLACA")
            </th>
            <th style="text-align: center">
                @Html.DisplayName("EQUIPAMENTO")
            </th>
            <th style="text-align: center">
                @Html.DisplayName("DATA INSPEÇÃO")
            </th>

        </tr>
        </thead>
        <tbody>
        @if (Model.Inspecoes != null)
        {
            foreach (var item in Model.Inspecoes
                )
            {
                <tr>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CodigoOia)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CodigoCipp)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.Placa)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.Equipamento)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.DataInspecao)
                    </td>

                </tr>
            }
        }
        </tbody>
    </table>
   
    <br/>
    <!-- pager -->
    <table cellpadding="0" cellspacing="0">
        <tr>
            @for (int i = 1; i <= Model.Pager.TotalPages; i++)
            {
                <td>
                    @if (i != Model.Pager.CurrentPage)
                    {
                        <a href="javascript:PagerClick(@i);">@i</a>
                    }
                    else
                    {
                        <span>@i</span>
                    }
                </td>
            }
        </tr>
    </table>
    <input type="hidden" id="hfCurrentPageIndex" value="2" name="@Model.Page"/>
   
    <script type="text/javascript">

        function PagerClick(index) {
            var urlSave = '@Url.Action("ConsultaInspecao")';
            var cod = $("#codigoId").val();

            var download =
            {
                codigoOia : cod
            }
            //replicated structure as the emnployee class in server C# code
            var emp = {
                DownloadModel: download,
                Page: index
              
            };
            $.ajax({
                    type:"POST",
                    url:urlSave,
                    data:JSON.stringify(emp),//use this in order to MVC binding to take place 
                    datatype:"JSON",
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {
                         
                    } 
                   
            }
                
            );
           
        }

    </script>


}
    

   
    





