
@model INMETRO.CIPP.WEB.Models.InspecoesGravadasModel

<form name="contact-form" action="@Url.Action("ConsultaInspecao", "Inspecao")" class="form form-inline" id="download" method="post" novalidate="novalidate">


    <table id="idtable" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="text-align: center">
                    @Html.DisplayName("CÓDIGO OIA-PP")
                </th>
                <th style="text-align: center">
                    @Html.DisplayName("CIPP")
                </th>
                <th style="text-align: center">
                    @Html.DisplayName("PLACA")
                </th>
                <th style="text-align: center">
                    @Html.DisplayName("EQUIPAMENTO")
                </th>
                <th style="text-align: center">
                    @Html.DisplayName("DATA INSPEÇÃO")
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Inspecoes != null)
            {
                foreach (var item in Model.Inspecoes)
                {

                    <tr>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.CodigoOia)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.CodigoCipp)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Placa)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Equipamento)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.DataInspecao)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <br />

    <script type="text/javascript">

        $(document).ready(function () {

            if (@Model.Pager.CurrentPage == 1) {
                $("#pag_ant").hide();
            } else {
                $("#pag_ant").show();
            }
            if (@Model.Pager.EndPage == @Model.Pager.CurrentPage){
                $("#pag_prox").hide();
            } else {
                $("#pag_prox").show();
            }

        });

    </script>


    @if (Model.Pager.TotalPages > 1)
    {
        <ul id="idPagination" class="pagination">
            <li id="pag_ant"><a href="javascript:PagerClick(@Model.Pager.CurrentPage - 1)"><</a></li>

            @if (Model.Pager.TotalPages > 3)
            {

                if (Model.Pager.CurrentPage >= 3)
                {
                    for (int i = Model.Pager.CurrentPage - 2; i != Model.Pager.CurrentPage; i++)
                    {


                        <li><a href="javascript:PagerClick(@i);">@i</a></li>

                    }
                }

                if (Model.Pager.CurrentPage == 2)
                {
                    for (int i = Model.Pager.CurrentPage - 1; i != Model.Pager.CurrentPage; i++)
                    {

                        <li><a href="javascript:PagerClick(@i);">@i</a></li>

                    }
                }

                int caso_pag = Model.Pager.TotalPages - Model.Pager.CurrentPage;
                switch (caso_pag)
                {
                    case 0:
                        <li class="active"><span>@Model.Pager.CurrentPage</span></li>

                        break;
                    case 1:

                        <li class="active"><span>@Model.Pager.CurrentPage</span></li>
                        <li><a href="javascript:PagerClick(@Model.Pager.CurrentPage + 1);">@(Model.Pager.CurrentPage + 1)</a></li>

                        break;

                    case 2:
                        <li class="active"><span>@Model.Pager.CurrentPage</span></li>
                        <li><a href="javascript:PagerClick(@Model.Pager.CurrentPage + 1);">@(Model.Pager.CurrentPage + 1)</a></li>
                        <li><a href="javascript:PagerClick(@Model.Pager.CurrentPage + 1);">@(Model.Pager.CurrentPage + 2)</a></li>

                        break;


                    default:

                        for (int i = Model.Pager.CurrentPage; i <= Model.Pager.CurrentPage + 2; i++)
                        {

                            if (i != Model.Pager.CurrentPage)
                            {
                                <li><a href="javascript:PagerClick(@i);">@i</a></li>
                            }
                            else
                            {
                                <li class="active"><span>@i</span></li>
                            }
                        }

                        break;


                }




            }

            <li id="pag_prox"><a href="javascript:PagerClick(@Model.Pager.CurrentPage + 1)">></a></li>
        </ul>


        <p id="Registros">Registros: @Model.Pager.TotalItems</p>



        <input type="hidden" id="hfCurrentPageIndex" name="Page" />
        @Html.HiddenFor(s => s.Page, new { id = "hfCurrentPageIndex" })
    }


</form>
<script type="text/javascript">

    function PagerClick(index) {

        document.getElementById('hfCurrentPageIndex').value = index;
        document.forms[0].submit();
    }

</script>
<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        background-color: #fff;
    }

        table th {
            background-color: #B8DBFD;
            color: #333;
            font-weight: bold;
        }

        table th, table td {
            padding: 5px;
            border: 1px solid #ccc;
        }

        table, table table td {
            border: 0px solid# ccc;
        }

    .wrapper {
        margin: 60px auto;
        text-align: center;
    }

    h1 {
        margin-bottom: 1.25em;
    }

    #pagination-demo {
        display: inline-block;
        margin-bottom: 1.75em;
    }

        #pagination-demo li {
            display: inline-block;
        }

    .page-content {
        background: #eee;
        display: inline-block;
        padding: 10px;
        width: 100%;
        max-width: 660px;
    }
</style>
