@using INMETRO.CIPP.WEB.Models
@model InspecoesGravadasModel


@{
    ViewBag.Title = "ConsultaInspecao";

}
@{
    if (IsPost)
    {
        if (Model.Mensagem.ExisteExcecao)
        {
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <div id="idConsultaInspecao" class="alert alert-danger alert-dismissable">
                        @Html.Partial("_BuscaInspecaoError", Model.Mensagem)

                    </div>
                </div>
            </div>
        }
    }
}

<div class="row">

    <div class="col-md-10 col-md-offset-1" style="padding-bottom:25px;">
        <h2 class="tituloSistema">
            Consultar Inspeções
        </h2>
        <hr />

        <script type="text/javascript">
            $("document").ready(function () {

                $(".campo-insp").hide();

                var combo_anterior = "";
                
                $("#combo").change(function () {

                    if ($("#combo :selected").val() != 0) {
                        $("#" + $("#combo :selected").val()).show();
                        $("#btnBuscar").show();
                        $("#Cancelar").show();
                        $("#" + combo_anterior).hide();
                    }
                    else
                    {
                        $("#" + combo_anterior).hide();
                        $("#btnBuscar").hide();
                        $("#Cancelar").hide();
                    }
                    combo_anterior = $("#combo :selected").val();
                    $("#idConsultaInspecao").find("table").remove();
                    
                });

                $("#Cancelar").click(function () {
                    $("input").atrr("type","text").val("");
                    //$("#idCipp").val("");
                    //$("#DownloadModel.DataInspecao").val("");
                    //$("#idPlaca").val("");
                    //return false;
                });

                $(".date").mask('00/00/0000');
                $(".num").mask('##');
            });

        </script>
   
       

           
        <form action="@Url.Action("ConsultaInspecao", "Inspecao")" class="form form-inline" id="download" method="post" novalidate="novalidate">
            <select id="combo" class="form-control">
                <option value="0">- Selecione -</option>
                <option value="idCodigoOia">CÓDIGO OIA-PP</option>
                <option value="idCipp">Nº CIPP</option>
                <option value="idDateInsp">DATA DA INSPECÃO</option>
                <option value="idPlaca">PLACA DE LICENCIAMENTO</option>
                <option value="4">Buscar Todos</option>
            </select>
            <div id="idCodigoOia" class="form-group campo-insp" style="margin-left: 25px">
                @Html.Label("CÓDIGO OIA-PP")
                @Html.TextBoxFor(m => m.DownloadModel.CodigoOia, null, new {@class = "num form-control", maxlength = "4", id = "CodigoOiaid" })
            </div>
            <div id="idCipp" class="form-group campo-insp" style="margin-left: 25px" hidden>
                @Html.Label("Nº CIPP")
                @Html.TextBoxFor(m => m.DownloadModel.CodigoCipp, new {@class = "num form-control", maxlength = "7", onkeypress = "return onlyNos(event,this);", id = "Cippid"})
                @Html.ValidationMessage("CodigoCipp")
            </div>
            <div id="idDateInsp" class="form-group campo-insp" style="margin-left: 25px" hidden>
                @Html.Label("Data da Inspeção")
                @Html.EditorFor(model => model.DownloadModel.DataInspecao, new {htmlAttributes = new {@class = "form-control datepicker date", Type = "date"}})
                @Html.ValidationMessage("DataInspecao")
            </div>
            <div id="idPlaca" class="form-group campo-insp" style="margin-left: 25px" hidden>
                @Html.Label("Placa de Licença")
                @Html.TextBoxFor(model => model.DownloadModel.PlacaLicenca, new {@class = "num form-control", maxlength = "7" })
                @Html.ValidationMessage("PlacaLicenca")
            </div>

            <input type="submit" class="btn btn-primary bg-primary campo-insp" value="Buscar" title="Download" id="btnBuscar" hidden>
            <input type="reset" class="btn btn-basic campo-insp" value="Limpar" title="Cancelar" id="Cancelar" hidden>
        </form>
    
    </div>
    <br />
    <br />
    <div class="col-md-10 col-md-offset-1">

        @if (Model != null)
        {

            foreach (var item in Model.Inspecoes)
            {
                if (item.CodigoOia != null)
                {
                    <div id="idConsultaInspecao">
                        @Html.Partial("_PartialConsultaInspecao", Model)
                    </div>
                    break;
                }
            }

        }

    </div>
</div>

 

<script>
    //function onlyNos(e) {

    //    var charCode;
    //    if (window.event) {
    //        charCode = window.event.keyCode;
    //    } else if (e) {
    //        charCode = e.which;
    //    } else { return true; }

    //    if (charCode > 31 && (charCode < 48 || charCode > 57)) {

    //        return false;
    //    }
    //    return true;
    //}

    //$("#idCodigoOia").hide();
    //$("#idCipp").hide();
    //$("#btnBuscar").hide();
    //$("#Cancelar").hide();
    //$("#idDateInsp").hide();
    //$("#idPlaca").hide();

    //$(document).ready(function(){ 
    //    $('#idConsultarPor').click(function(){ 
            

    //        switch ($('#combo :selected').text()) {
    //        case 'Nº CIPP':
    //            MostrarCodigoCipp();
    //            break;
    //        case 'CÓDIGO OIA-PP':
    //            MostrarCodigoOia();
    //            break;
    //        case 'DATA DA INSPECÃO':
    //            MostrarDataInsp();
    //            break;
    //        case 'PLACA DE LICENCIAMENTO':
    //            MostrarBuscarPlaca();
    //            break;
    //        case 'Buscar Todos':
    //            MostrarBuscarTodos();
    //            break;
    //        default:
    //        }
    //    });
    //});

    //function MostrarCodigoOia() {

    //    $("#idCodigoOia").show();
    //    $("#btnBuscar").show();
    //    $("#Cancelar").show();
    //    $("#idCipp").hide();
    //    $("#idDateInsp").hide();
    //    $("#idPlaca").hide();
    //    $("#btnBuscar").val('Buscar'); 

    //}

    //function MostrarCodigoCipp() {

    //    $("#idCipp").show();
    //    $("#btnBuscar").show();
    //    $("#Cancelar").show();
    //    $("#idCodigoOia").hide();
    //    $("#idDateInsp").hide();
    //    $("#idPlaca").hide();
    //    $("#btnBuscar").val('Buscar'); 
    //}
    //function MostrarDataInsp() {

    //    $("#idDateInsp").show();
    //    $("#btnBuscar").show();
    //    $("#Cancelar").hide();
    //    $("#idCodigoOia").hide();
    //    $("#idCipp").hide();
    //    $("#btnBuscar").show();
    //    $("#idPlaca").hide();
    //    $("#btnBuscar").val('Buscar'); 
    //}
    //function MostrarBuscarPlaca() {

    //    $("#idCipp").hide();
    //    $("#idPlaca").show();
    //    $("#Cancelar").show();
    //    $("#idCodigoOia").hide();
    //    $("#btnBuscar").show();
    //    $("#btnBuscar").val('Buscar'); 
    //    $("#idDateInsp").hide();


    //}

    //function MostrarBuscarTodos() {

    //    $("#idCipp").hide();
    //    $("#btnBuscar").show();
    //    $("#Cancelar").hide();
    //    $("#idCodigoOia").hide();
    //    $("#btnBuscar").show();
    //    $("#idDateInsp").hide();
    //    $("#idPlaca").hide();
    //    $("#btnBuscar").val('Buscar Todas as Inspeções'); 


    //}
    //(document).ready(function() {  
    //    $("#DownloadModel.DataInspecao").datepicker({  
  
    //        dateFormat:"dd-mm-yy",  
    //        changeMonth :true,   
    //        changeYear: true   
  
    //    });  
    //});
  
</script>
