@model INMETRO.CIPP.WEB.Models.InspecoesGravadasModel

@{
    ViewBag.Title = "ConsultaInspecao";

}
@{
    if (IsPost)
    {
        if (Model.Mensagem.ExisteExcecao)
        {
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <div id="idConsultaInspecao" class="alert alert-danger alert-dismissable">
                        @Html.Partial("_BuscaInspecaoError", Model.Mensagem)

                    </div>
                </div>
            </div>
        }
    }
}

<div class="row">

    <div class="col-md-10 col-md-offset-1" style="padding-bottom:25px;">
        <h2 class="tituloSistema">
            Consultar Inspeções
        </h2>
        <hr />

        <script type="text/javascript">

            $("document").ready(function () {

                $(".campo-insp").hide();

                var comboAnterior = "";

                $("#combo").change(function () {

                    if ($("#combo :selected").val() !== 0) {
                        $("#" + $("#combo :selected").val()).show();
                        $("#btnBuscar").show();
                        $("#Cancelar").show();
                        $("#" + comboAnterior).hide();
                    }
                    else {
                        $("#" + combo_anterior).hide();

                        $("#btnBuscar").hide();
                        $("#Cancelar").hide();
                    }
                    comboAnterior = $("#combo :selected").val();
                    $("#idConsultaInspecao").find("table").remove();

                    limparImputs();
                });

                $("#Cancelar").click(function () {
                    limparImputs();
                });

            });

            function limparImputs() {
                $("#codigoId").val("");
                $("#Cippid").val("");
                $("#DownloadModel_DataInspecao").val("");
                $("#DownloadModel_PlacaLicenca").val("");
                $("#hfCurrentPageIndex").val("");
                $("#idPagination").hide();
            }

            
        </script>
      
    
        @Html.AntiForgeryToken()
    
       <form name="contact-form" action="@Url.Action("ConsultaInspecao", "Inspecao")" class="form form-inline" id="download" method="post" novalidate="novalidate">
           @Html.Label("CONSULTAR POR") <select id="combo" class="form-control">
               <option value="0">- SELECIONE -</option>
               <option value="idCodigoOia">CÓDIGO OIA-PP</option>
               <option value="idCipp">Nº CIPP</option>
               <option value="idDateInsp">DATA DA INSPECÃO</option>
               <option value="idPlaca">PLACA DE LICENCIAMENTO</option>
               <option value="4">BUSCAR TODOS</option>
           </select>
    
            <div id="idCodigoOia" class="form-group campo-insp" style="margin-left: 25px">
                @Html.Label("CÓDIGO OIA-PP")
                @Html.TextBoxFor(m => m.DownloadModel.CodigoOia, null, new {@class = "num form-control", maxlength = "4", id = "codigoId" })
                @Html.ValidationMessage("CodigoOia")
            </div>
            <div id="idCipp" class="form-group campo-insp" style="margin-left: 25px" hidden>
                @Html.Label("Nº CIPP")

                @Html.TextBoxFor(m => m.DownloadModel.CodigoCipp, new {@class = "num form-control", maxlength = "7", onkeypress = "return onlyNos(event,this);", id = "Cippid"})

                @Html.ValidationMessage("CodigoCipp")
            </div>
            <div id="idDateInsp" class="form-group campo-insp" style="margin-left: 25px" hidden>
                @Html.Label("DATA DA INSPEÇÃO")
                @Html.EditorFor(model => model.DownloadModel.DataInspecao, new {htmlAttributes = new {@class = "form-control date", Type = "text"}})
                @Html.ValidationMessage("DataInspecao")
            </div>
            <div id="idPlaca" class="form-group campo-insp" style="margin-left: 25px" hidden>
                @Html.Label("PLACA DE LICENÇA")
                @Html.TextBoxFor(model => model.DownloadModel.PlacaLicenca, new {@class = "num form-control", maxlength = "10" })
                @Html.ValidationMessage("PlacaLicenca")
            </div>
           @Html.HiddenFor(s => s.Page, new {id="hfCurrentPageIndex" })
            <input type="submit" class="btn btn-primary bg-primary campo-insp" value="Buscar" title="Download"  id="btnBuscar" hidden>
            <input type="reset" class="btn btn-basic campo-insp" value="Limpar" title="Cancelar" id="Cancelar" hidden>
        </form>
    
    </div>
    <br />
    <br />
    <div class="col-md-10 col-md-offset-1">

        @if (Model != null)
        {

            foreach (var item in Model.Inspecoes)
            {
                if (item.CodigoOia != null)
                {
                    <div id="idConsultaInspecao">
                        @Html.Partial("_PartialConsultaInspecao", Model)
                    </div>
                    break;
                }
            }

        }

    </div>
</div>


