@model INMETRO.CIPP.WEB.Models.OrganismoModel

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Você tem certeza que deseja excluir este Organismo?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayName("CÓDIGO-OIA-PP")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-primary" /> 
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
