@model INMETRO.CIPP.DOMINIO.Modelos.IntegracaoInfos

@{
    ViewBag.Title = "Excluir";
}
<div class="col-md-10 col-md-offset-1">
    <h2  class="tituloSistema">Excluir</h2>

    <h3>Você tem certeza que deseja remover esta integração?</h3>
    <br />

        <dl class="dl-horizontal">
            <dt>
                @Html.Label("CÓDIGO-OIA-PP:")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiretorioInspecaoLocal)
            </dd>
            <dt>
                @Html.DisplayName("ENDEREÇO (host):")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HostURI)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-1">
                    <div class="form-actions no-color">
                        <input type="submit" value="Excluir" class="btn btn-primary" />

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-default" type='button' value='Voltar' onclick='window.location = "@Url.Action("Index", "Organismo")";' />
                </div>
            </div>
        }

    
</div>