@model IEnumerable<INMETRO.CIPP.DOMINIO.Modelos.IntegracaoInfos>

@{
    ViewBag.Title = "Index";
}

<h2  class="tituloSistema">Integrações</h2>
 <br />
<p>
    @Html.ActionLink("Adicionar Integração", "Adicionar")
</p>
<table class="table">
    <tr>
        <th style="text-align: center">
            @Html.DisplayName("CÓDIGO-OIA-PP")
        </th>
        <th style="text-align: center">
            @Html.DisplayName("ENDEREÇO(Host)")
        </th>
        <th style="text-align: center">
            @Html.DisplayName("PORTA")
        </th>
        <th style="text-align: center">
            @Html.DisplayName("USUÁRIO")
        </th>
        @*<th style="text-align: center">
            @Html.DisplayName("SENHA")
        </th>*@
    
        <th style="text-align: center">AÇÕES</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td align="center">
                @Html.DisplayFor(modelItem => item.DiretorioInspecaoLocal)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.HostURI)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Porta)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td align="center">
                <a href="@Url.Action("Editar", "Integracao", new { id = item.Id })"title="Editar">
                    <img src="~/img/btn_edit.png" />
                </a> |
                <a href="@Url.Action("Excluir", "Integracao", new { id = item.Id })" title="Remover">
                    <img src="~/img/btn_delete.png" />
                </a>

            </td>
        </tr>
    }

</table>

<script>
    function onlyNos(e) {

        var charCode;
        if (window.event) {
            charCode = window.event.keyCode;
        } else if (e) {
            charCode = e.which;
        } else { return true; }

        if (charCode > 31 && (charCode < 48 || charCode > 57)) {

            return false;
        }
        return true;
    }


    $("#Cancelar").click(function () {
        $("#idCodigoOia").val("");
        $("#idCipp").val("");
        $('.field-validation-error').text("");
        return false;
    });

    function CarregandoBtn() {

        $("#btnDownload").hide();
        $("#btn_carregando").show();

    };

    $("document").ready(function () {
        $("#btn_carregando").hide();

    });

    $("#btnDownload").click(function () {
        $("#resultado").hide();
    });




</script>
